body {
    margin: auto;
}

#header {
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #1f2937;
}

h1 {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    padding: 0;
    width: 10em;
}

li {
    display: inline;
    list-style: none;
}

a {
    font-size: 18px;
    color: #e5e7eb
}